# Compiled class files### AL ### Template for AL projects for Dynamics 365 Business Central 
#launch.json folder
*.class.vscode/
#Cache folder Log files.alcache/
*.log#Symbols folder .alpackages/
#Snapshots folder Package files.snapshots/
*.jar#Testing Output folder .output/ *.war#Extension App-file *.app *.ear#Rapid Application 
Development File rad.json
#Translation Base-file Maven*.g.xlf
target/#License-files *.bclicense *.flf
#Test results file GradleTestResults.xml
.gradle/ build/
# IntelliJ IDEA
.idea/ *.iml out/
# Eclipse
.project .classpath .settings/ bin/
# VS Code
.vscode/
# OS files
.DS_Store
Thumbs.db
